<div class="c-product-card">
  {% if product.featured_image %}
    <a class="c-product-card__img-wrapper" href="{{ product.url }}">
      {{ product.featured_image.src | image_url: width: 400 | image_tag }}
    </a>
  {% else %}
    {{ 'product-1' | placeholder_svg_tag }}
  {% endif %}
  <div class="c-product-card__copy">
    <h4 class="c-product-card__title">
      <a href="{{ product.url }}">{{ product.title }}</a>
    </h4>
    <div class="c-product-card__price u-mt-8">{{ product.price | money }}</div>
    {% if object_type != null %}
      <a class="u-link u-mt-32" href="{{ product.url }}">View product {% render 'icon-arrow-right' -%}</a>
    {% endif %}
  </div>
</div>
