<div class="l-wrap u-mt-32">
  {% paginate blog.articles by section.settings.posts_per_page %}
    <h2 class="u-text-upcase u-mb-24 u-text-center">{{ blog.title }}</h2>
    <div class="c-cards">
      {% for article in blog.articles %}
        <div class="c-card">
          <a href="{{ article.url }}" class="u-d-flex">
            {% if article.image %}
              {{ article.image | image_url: width: 400 | image_tag: class: 'c-card__img' }}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'c-card__img' }}
            {% endif %}
          </a>
          <div class="c-card__copy">
            <h2 class="c-card__title">{{ article.title | link_to: article.url }}</h2>
            <p class="u-mt-16">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt | strip_html | truncatewords: 15 }}
              {% else %}
                {{ article.content | strip_html | truncatewords: 15 }}
              {% endif %}
            </p>
            <a class="u-d-iflex u-mt-24 u-link" href="{{ article.url }}">
              {{- section.settings.read_more_label }}
              {% render 'icon-arrow-right' -%}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "range",
      "id": "posts_per_page",
      "step": 1,
      "min": 1,
      "max": 6,
      "label": "Posts per page",
      "default": 3
    },
    {
      "type": "text",
      "id": "read_more_label",
      "default": "Read more",
      "label": "Read more text"
    }
  ]
}
{% endschema %}
