<article class="c-article u-py-32">
  {% for block in section.blocks %}
    {% case block.type %}
        <!-- Published date -->
      {% when 'article_published_date' %}
        <div class="l-wrap-700 u-text-center">
          <time
            class="c-article__published-date"
            datetime="{{ article.published_at |  date: '%Y-%m-%d' }}"
          >
            {{- article.published_at | date: format: 'on_date' -}}
          </time>
        </div>

        <!-- Title -->
      {% when 'article_title' %}
        <div class="l-wrap-700 u-text-center">
          <div class="c-article__title-container">
            <a class="c-article__blog-link" href="{{ blog.url }}">{{ blog.title }}</a>
            <h1 class="c-article__title">{{ article.title }}</h1>
          </div>
        </div>

        <!-- Author -->
      {% when 'article_author' %}
        <div class="l-wrap-700 u-text-center">
          <div class="c-article__author">
            {{ article.author }}
          </div>
        </div>

        <!-- Image -->
      {% when 'article_image' %}
        <div class="c-article__image">
          {% if article.image != blank %}
            {{ article.image | image_url: width: 1000 | image_tag: alt: article.image.alt }}
          {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag }}
          {% endif %}
        </div>

        <!-- Content -->
      {% when 'article_content' %}
        <div class="l-wrap-700">
          <div class="c-article__copy">
            {{ article.content }}
          </div>
        </div>

        <!-- No article -->
      {% else %}
        <div class="l-wrap-700 u-text-center">
          <div class="c-article__none">
            <p>Nothing in the article</p>
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <hr>
  <section class="u-py-32">
    <div class="l-wrap-700">
      <!-- Comments -->
      {% if article.comments_count > 0 %}
        <div id="comments" class="u-mb-32">
          <h2 class="u-mb-16">{{ article.comments_count }} Comments</h2>
          {% paginate article.comments by 3 %}
            {% for comment in article.comments %}
              <div class="c-comment">
                <div class="c-comment__author-and-date">
                  <span class="c-comment__author">{{ comment.author }}</span>
                  <span class="c-comment__created-at">{{ comment.created_at | date: format: 'on_date' }}</span>
                </div>
                <div class="c-comment__content">{{ comment.content }}</div>
              </div>
            {% endfor %}

            {% render 'pagination', paginate: paginate %}
          {% endpaginate %}
        </div>
      {% endif %}

      <!-- Comment form -->
      <div id="comment_form">
        <h2>Any comment?</h2>
        {% form 'new_comment', article %}
          {% if form.posted_successfully? %}
            <div class="c-comment__posted-successfully">
              {% render 'icon-success' %}
              <span>Comment has been posted successfully!</span>
            </div>
          {% endif %}

          {% if form.errors != null %}
            {{ form.errors | default_errors }}
          {% endif %}

          <div class="l-col-2 u-mt-24">
            <div class="c-form-group">
              <label for="comment_name">Name</label>
              <input type="text" name="comment[author]" id="comment_name" required placeholder="Jane Doe">
            </div>
            <div class="c-form-group">
              <label for="comment_email">Email</label>
              <input type="email" name="comment[email]" id="comment_email" required placeholder="janedoe@gmail.com">
            </div>
          </div>
          <div class="c-form-group u-mt-32">
            <label for="comment_body">Comment</label>
            <textarea name="comment[body]" id="comment_body" required></textarea>
          </div>
          <div class="c-form-group u-mt-16">
            <button type="submit" class="c-btn c-btn--black c-btn--full">Post comment</button>
          </div>
        {% endform %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Article Section",
  "settings": [],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "article_title",
      "limit": 1,
      "name": "Title"
    },
    {
      "type": "article_content",
      "limit": 1,
      "name": "Content"
    },
    {
      "type": "article_image",
      "limit": 1,
      "name": "Image"
    },
    {
      "type": "article_published_date",
      "limit": 1,
      "name": "Published Date"
    },
    {
      "type": "article_author",
      "limit": 1,
      "name": "Author"
    }
  ]
}
{% endschema %}
