<div class="c-account-page u-py-32">
  <div class="l-wrap">
    <header class="u-mb-32">
      <h1>Your account</h1>
    </header>

    <div>
      <h3 class="u-mb-32">Order history</h3>
      {% assign orders_count = customer.orders | size %}
      {% if orders_count > 0 %}
        {% paginate customer.orders by 12 %}
          <div class="l-col-3">
            {% for order in customer.orders %}
              <div class="c-card">
                <a href="{{ order.customer_url }}" class="c-card__img-wrapper">
                  {% if order.line_items.first.image %}
                    {{ order.line_items.first.image | image_url: width: 400 | image_tag }}
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag }}
                  {% endif %}
                </a>
                <div class="c-card__copy">
                  <div class="u-d-f u-ai-center u-jc-sb u-gap-16">
                    <div>{{ order.name }}</div>
                    <div class="c-badge c-badge--red">{{ order.financial_status }}</div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endpaginate %}
      {% else %}
        <p>You haven't placed any orders yet!</p>
      {% endif %}
    </div>

    <div class="c-hr u-my-62"></div>

    <div>
      <h3 class="u-mb-32">Addresses</h3>
      {% for address in customer.addresses %}
        <div class="c-card">
          <div class="c-card__copy">
            {{ address | format_address }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
